body {
    background-color: #f9fcff;
    margin-left: 64px;
    margin-right: 64px;
    font-family: Arial, sans-serif;
    color: #2c2c2c;
}

h1, h2, h3, h4, h5, h6 {
    color: #2e4358; 
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 18px;
}

section {
    border: 1px solid #ccc;
    background-color: #ffffff; 
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "nav nav"
    "aside main"
    "footer footer";
  grid-template-columns: auto auto 5em auto;  
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

header {
  grid-area: header;
  background: #7bff6f;
  padding: 1rem;
}

nav {
  grid-area: nav;
  background: #d1ff53;
  padding: 1rem;
}

main {
  grid-area: main;
  background: #cdefff;
  padding: 1rem;
}

aside {
  grid-area: aside;
  background: #69f0c7;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background: #ffbaba;
  padding: 1rem;
}

aside {
  grid-area: aside;
  background: #69f0c7;
  padding: 1rem;
}