body {
    background-color: #f9fcff;
    margin-left: 64px;
    margin-right: 64px;
    font-family: Arial, sans-serif;
    color: #2c2c2c;
}

h1, h2, h3, h4, h5, h6 {
    color: #2e4358; 
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 18px;
}

section {
    border: 1px solid #ccc;
    background-color: #ffffff; 
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
}