body {
    background-color: #f9fcff;
    margin-left: 64px;
    margin-right: 64px;
    font-family:"Play1", sans-serif;
    color: #2c2c2c;
}

@font-face {
  font-family: "Play";
  src: url(PlaywriteNO-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Play1";
  src: url(Sekuya-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {
    color: #2e4358; 
}

h1 {
    font-family: "Play";
    font-size: 60px;
}

h2 {
    font-family: "Play";
    font-size: 48px;
}

h3 {
    font-family: "Play";
    font-size: 32px;
}

h4 {
    font-family: "Play";
    font-size: 18px;
}

section {
    border: 1px solid #ccc;
    background-color: #ffffff; 
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
  grid-template-rows: auto auto 1fr auto;
  height: 100vh;
}

header {
  grid-area: header;
  background: #4cff3b;
  padding: 1rem;
  border: 1px solid black
}

nav {
  grid-area: nav;
  background: #c6ff28;
  padding: 1rem;
  border: 1px solid black
}

main {
  grid-area: main;
  background: #89daff;
  padding: 1rem;
  border: 1px solid black
}

footer {
  grid-area: footer;
  background: #ffa2a2;
  padding: 1rem;
  border: 1px solid black
}

